@page
@model InMemoryIdentityApp.Pages.OAuth2ManagementModel
@{
}

<h1 class="display-4">Dicovery</h1>
<table class="table">
    <tr>
        <th>Key</th>
        <th>Value</th>
    </tr>
    <tr>
        <td>Authority</td>
        <td>@Model.Creds.Authority</td>
    </tr>
    <tr>
        <td>JwksUri</td>
        <td>@Model.Creds.DiscoveryDocumentResponse.JwksUri</td>
    </tr>
    <tr>
        <td>Issuer</td>
        <td>@Model.Creds.DiscoveryDocumentResponse.Issuer</td>
    </tr>
    <tr>
        <td>TokenEndpoint</td>
        <td>@Model.Creds.DiscoveryDocumentResponse.TokenEndpoint</td>
    </tr>
    <tr>
        <td>RevocationEndpoint</td>
        <td>@Model.Creds.DiscoveryDocumentResponse.RevocationEndpoint</td>
    </tr>

</table>

<h1 class="display-4">Managed Token</h1>
<table class="table">
    <tr>
        <th>Key</th>
        <th>Value</th>
    </tr>
    <tr>
        <td>CredentialsKey</td>
        <td>@Model.ManagedToken.CredentialsKey</td>
    </tr>
    <tr>
        <td>RequestFunctionKey</td>
        <td>@Model.ManagedToken.RequestFunctionKey</td>
    </tr>
    <tr>
        <td>AccessToken</td>
        <td>@Model.ManagedToken.AccessToken</td>
    </tr>
    <tr>
        <td>ExpirationDate</td>
        <td>@Model.ManagedToken.ExpirationDate</td>
    </tr>
    <tr>
        <td>RefreshToken</td>
        <td>@Model.ManagedToken.RefreshToken</td>
    </tr>
</table>